/* NAVBAR */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Override Bootstrap navbar background color */
.navbar.navbar-expand-lg {
    background-color: #10263D !important; /* Dark blue color */
}

/* Override Bootstrap navbar link color */
.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-toggler {
    color: white !important;
}

/* Override Bootstrap navbar toggler icon color */
.navbar-light .navbar-toggler-icon {
    filter: invert(1) grayscale(100%) brightness(200%);
}

/* Styles for dropdown menu items */
.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: white !important; /* White text for dropdown items */
}

/* Change dropdown item background color on hover */
.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #0c1a2b !important; /* Slightly lighter blue for hover */
}

/* Styles for dropdown menu */
.navbar-light .navbar-nav .nav-item .dropdown-menu {
    background-color: #10263D; /* Dark blue background for dropdown */
}

.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: white !important; /* White text for dropdown items */
}

/* Change dropdown item background color on hover */
.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #0c1a2b !important; /* Slightly lighter blue for hover */
}
