{% extends 'interface/base.html' %}
{% load static %}
{% block content %}



<div class="container mt-1">
  <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6"> <!-- Adjust column sizes as needed -->
        <img src="{% static 'images/teabags_hugging.png' %}" alt="Tea Bag Image" class="img-fluid mb-3 image-top">
          <div class="card my-3">
              <h5 class="card-header">Login</h5>
              <div class="card-body">
                  <form action="" method="POST">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="username" class="form-label">Username</label>
                          <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password">
                      </div>
                      <div class="d-grid gap-2">
                          <button type="Submit" class="btn btn-primary">Submit</button>
                          <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
                      </div>                      
                      <!-- ... -->
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>


<br/><br/>	


<!-- Bootstrap JS Bundle -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha384-oesi62hoyj7gnaoa14lfkndayc6o6elbb0d23yd+pbQfUf5o5hptc9whoh8pOJy5" crossorigin="anonymous"></script>
{% endblock %}